includes:
	- ./vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	paths:
		- src
		- tests
	excludePaths:
		- tests/WP_Error.php
		- packages
		- vendor
	ignoreErrors:
		- '#Call to method getTransactionResponse\(\) on an unknown class net\\authorize\\api\\contract\\v1\\AnetApiResponseType.#'
		- '#Call to method getMessages\(\) on an unknown class net\\authorize\\api\\contract\\v1\\AnetApiResponseType.#'
